	<style>
		div{
            width: 500px;
            background-color: blue;
            font-family: sans-serif;
			}
		h3,p{
             width: 500px;
             padding: 10px;
			}
	</style>